/* common styles for whole website  */
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.color-common {
    color: #FF42A5;
}

.bg-common {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.common-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* style for navbar  */
.container {
    display: flex;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;

}

.logo-text {
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-section {
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu-section a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-menu {
    display: flex;
    gap: 16px;
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 24px 17px;
    align-items: center;
    justify-content: center;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #000000;
}

/* style for bannar section  */
.bannar {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 800px;
}

.bannar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.bannar-text {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.bannar-title {
    margin: 0;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-info p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-go {
    background: #4EC5F7;
}

.img-section img {
    width: 100%;
}

/* style for funny video section  */
.funny-video-section {
    text-align: center;
}

.funny-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.funny-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-discription {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.funny-video {
    display: flex;
    justify-content: space-between;
}

.caption-info {
    max-width: 342px;
}

.video-caption {
    color: #534C64;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

/* The container that holds the image and the overlay */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
}

/* The overlay to hold the play icon and text */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #F948B2;
    border-radius: 16px;
    opacity: 0;
    /* Hide the overlay by default */
    background-color: rgba(0, 0, 0, 0.6);
    /* Optional: Add a semi-transparent background to the overlay */
    transition: opacity 0.3s ease;
    /* Add a transition effect for smooth visibility changes */
}

/* Show the overlay (play icon and text) when hovering over the image */
.image-container:hover .overlay {
    opacity: 1;
}

/* Style for the play icon */
.overlay .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/play.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Style for the text */
.overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* style for Play Instantly section  */
.play-instantly-section {
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.play-title {
    color: #0B0223;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
}

.play-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-discription {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-img {
    position: relative;
}

.baby {
    position: absolute;
    left: -145px;
    bottom: -75px;
}

/* responsive design for mobile device */
@media screen and (max-width: 576px) {

    .container,
    .menu-section,
    .bannar-container,
    .funny-video,
    .play-instantly-section {
        flex-direction: column;
        align-items: center;
    }

    .container,
    .bannar-container {
        padding: 20px 0;
    }

    .bannar-container {
        text-align: center;
    }

    .btn-go {
        margin-top: 5px;
    }

    .play-instantly-section {
        gap: 20px;
    }

    .play-title,
    .play-discription {
        text-align: center;
    }

    .play-img {
        max-width: 370px;

    }

    .play-img-box img:first-child {
        width: 280px;
    }

    .play-img-box img:last-child {
        width: 100px;
    }

    .baby {
        position: absolute;
        left: -15px;
        bottom: -20px;
    }

}

/* responsive design for tablet device  */
@media screen and (min-width: 577px) and (max-width:768px) {
    .bannar {
        height: 1200px;
    }

    .container,
    .bannar-container,
    .funny-video,
    .play-instantly-section {
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-section {
        gap: 20px;
    }

    .play-title,
    .play-discription {
        text-align: center;
    }

    .container,
    .bannar-container {
        padding: 20px 0;
    }

    .baby {
        position: absolute;
        left: -70px;
        bottom: -75px;
    }


}